body{
  background-color: white;
  width: 98.8vw;
}

h1{
  color: #7b706e;
  font-family: 'Orbitron', sans-serif;
  z-index: 5;
  letter-spacing: 3px;
}

h2{
  color: #7b706e;
  font-family: 'Orbitron', sans-serif;
  z-index: 5;
  letter-spacing: 3px;
  font-size: 50px;
}

.checkers{
  background: 
  repeating-linear-gradient(
    to right, transparent, 
    transparent 48px, 
    white 48px, 
    white 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent,  
    transparent 48px, 
    white 48px, 
    white 50px
  ),
  linear-gradient(45deg, #b7aea9, #7b706e);
}

h6 {
  height: 300px;
  width: 300px;
  /*position: relative; */
  animation: effect 8s linear infinite;
  z-index: 1;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 150px;
  transform-style: flat;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  color: white;
}

ul{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 5px;
}

li a:hover {
  background-color: #b7aea9;
}

.star{
  text-decoration: none;
}